*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    margin: 0px;
    width: 200px;
    height: 100px;

}